*{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

section {
    height: 100vh;
}

section.box1>div.logo{
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30%;
    align-items: center;
}

section.box1 > div.logo > span {
    font-size: 2rem;
}

section.box1{
    width: 50%;
    background-image: url(photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}

section.box1 > p.credits {
    text-align: center;
    font-size: 0.5rem;
    color: white;
    margin-top: 45%;
}

section.box1 > p.credits > span >a{
    color: white;
}


section.box2{
    width: 50%;
    background-color: whitesmoke;
}

section.box2 > p{
    padding: 1.5rem;
    font-weight: 700;
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

fieldset {
    padding: 1.5rem;
    background-color: white;
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 10%);
}

form > fieldset > div.inputs1 > p{
    font-size: 1rem;
    font-weight: 700;
} 

form > fieldset > div.inputs2,
form > div {
    margin-left: 2rem;
}

form > fieldset > div > label {
    font-size: 0.5rem;
}

form > div#buttons > button#submit {
    margin-top: 1.3rem;
    background-color: #596D48;
    border:none;
    border-radius: 0.5rem;
    width: 9rem;
    height: 2.5rem;
    color: white;
    transition: 1s;
}

form > div#buttons > button#submit:hover{ 
    border-radius: 0rem;
    transition: 1s;
}

form > div#buttons > span > button#login {
    background: none;
    border: none;
    color:#596D48;

}

form > div#buttons > span 
form > div#buttons > span > button#login{
    font-size: 15px;
}

form > fieldset > div > input {
    border-color:#E5E7EB;
    border-width: 1px;
    border-style: solid;
    outline: none;
}

form > fieldset > div > input:focus {
    border-color:rgb(24, 24, 184);
    box-shadow: 1px 1px 1px rgba(24, 24, 184, 50%);
}